<ion-view title="Gruppe erstellen">

<ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  
  
  <ion-content class="padding">
  
	<h3>Gruppenname</h3>
    <div class="list">
		<label class="item item-input item-floating-label">
			<input type="text" placeholder="Gruppenname">
		</label>
	</div>
	
	<h3>Auswahl</h3>
	<label class="item item-input item-select">
		<div class="input-label">
		  Liga
		</div>
		<select>
		  <option>Tipico Bundesliga</option>
		  <option selected>Champions League</option>
		  <option>Erste Liga</option>
		</select>
	</label>
	
	<br />
	<h3>Mitglieder</h3>
	<div class="list" >
	
		<div class="item item-input-inset">
			<label class="item-input-wrapper item-floating-label">
			Fabio Rutter
			</label>
			<button class="button button-small"> - </button>
		</div>
		
		<div class="item item-input-inset">
			<label class="item-input-wrapper item-floating-label">
			Philip Glinzner
			</label>
			<button class="button button-small"> - </button>
		</div>
		
		<div class="item item-input-inset">
			<label class="item-input-wrapper item-floating-label">
			Martin Glatz
			</label>
			<button class="button button-small"> - </button>
		</div>
		  
		<br/>
		
		
		<div class="list">

		  <div class="item item-input-inset">
			<label class="item-input-wrapper item item-input item-floating-label">
			<!--<label class="item-input-wrapper item-floating-label">-->
			  <input type="text" placeholder="Benutzername">
			</label>
			<button class="button button-small"> + </button>
		  </div>

		</div>
		
		<!--
		<label class="item item-input item-floating-label">
		<input style="width:75%" type="text" placeholder="Benutzername"/> <button class="button button-small button-stable" > <h2>+</h2> </button>
		</label>
		
		
		<label class="item item-input item-floating-label">
			 <div class="padding" align="right"><button class="button button-small button-stable" > <h2>+</h2> </button></div>
		</label>
		-->
	
	<br/>
	<button class="button button-block button-stable"> Gruppe erstellen </button>
	</div>

  </ion-content>
</ion-view>

