<ion-view title="Anmeldung">
	<ion-nav-buttons side="left">
		<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
  <ion-content class="padding"> 
  
  <form ng-submit="doLogin()">
	  <div class="list">
		  <label class="item item-input item-floating-label">
			<input type="text" ng-model="loginData.username" placeholder="Benutzername">
		  </label>
		  <label class="item item-input item-floating-label">
			<input type="password" ng-model="loginData.password" placeholder="Passwort">
		  </label>
	  </div>
	  <div>
		  <button class="button button-stable" style="float: left; width: 49%" type="submit" > Anmelden </button>
		  <a href="#/app/register"><button class="button button-stable" style="float: right; width: 49%" > Registrieren </button></a>
		<p><a href="#/app/register"> Passwort vergessen? </a></p>
	  </div>
  </form>
		
  </ion-content>
</ion-view>

